.sidebar {
  position: fixed;
  top: var(--space-10);
  right: var(--space-10);
  bottom: var(--space-10);
  width: 400px;
  max-width: 90%;
  background: var(--color-surface);
  border-radius: var(--radius-lg);
  color: var(--color-text);
  box-shadow: var(--shadow-lg);
}

.sidebarTop {
}
