.Hero {
  height: 100vh;
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='248' y='248' width='8' height='8' fill='white' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
}

.HeroWrapper {
  max-width: 1200px;
  padding: 240px 40px 0;
  position: relative;
  width: 100%;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeroSubtitle {
  border-radius: 9999px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 16px;
}

.HeroSubtitle [data-editable] {
  font-size: var(--size-sm);
  text-align: center;
  max-width: 600px;
  opacity: 0.7;
}

.HeroWrapper > h1 {
  max-width: 800px;
}

.HeroWrapper > h1 [data-editable] {
  font-size: 72px;
  font-weight: 700;
  font-family: var(--font-archivo);
  text-align: center;
  line-height: 1.1;
  letter-spacing: -0.015em;
}

.HeroDescription [data-editable] {
  font-size: var(--size-2xl);
  opacity: 0.7;
  text-align: center;
  max-width: 600px;
  margin: 12px auto 0;
}

.HeroButtons {
  margin-top: 36px;
  display: flex;
  gap: 12px;
}
