.overlayWrapper {
  position: absolute;
  display: flex;
  gap: var(--space-5);
}

.overlayPointer {
  position: absolute;
  top: calc(1px - var(--space-8));
  left: calc(1px - var(--space-6));
  color: var(--color-text-light);
  box-shadow: 1px solid var(--shadow-lg);
}

.overlayThread {
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-lg);
  overflow: hidden;
  font-size: var(--size-sm);
}

.overlayThreadMain {
  background: var(--color-surface-elevated);
}

.overlayThreadTop {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0 var(--space-1);
  cursor: move;
  background: var(--color-surface-elevated);
  user-select: none;
}

.overlayDragHandle {
  padding: var(--space-3);
  transform: rotate(90deg);
}

.overlayMinimizeButton {
  padding: var(--space-5) var(--space-3);
  background: none;
  color: inherit;
}

.minimizedThread {
  display: flex;
  align-items: center;
  padding: var(--space-3) var(--space-4);
  gap: var(--space-5);
  cursor: pointer;
  background: var(--color-surface-elevated);
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  font-size: var(--size-sm);
  font-weight: 500;
  user-select: none;
}
