.pinnedComment {
  position: absolute;
  display: flex;
  gap: 16px;
}

.avatarPin {
  user-select: none;
  position: relative;
  width: 36px;
  height: 36px;
  box-shadow: var(--shadow);
  border-top-left-radius: 4px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  cursor: grab;
  background: #fff;
}

.avatarPin > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  width: 28px;
  height: 28px;
}

.comment {
  box-shadow: var(--shadow);
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-width: 240px;
}

.comment > textarea {
  border: none;
  padding: 8px 12px;
  min-height: 36px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.comment > footer {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.comment > footer button {
  border-radius: 9999px;
  width: 28px;
  height: 28px;
  background: #eee;
  color: #fff;
}
