.sidebarWrapper {
  position: fixed;
  top: var(--space-10);
  right: var(--space-10);
  bottom: var(--space-10);
  width: 400px;
  max-width: 90%;
}

.sidebar {
  position: relative;
  background: var(--color-surface);
  color: var(--color-text);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  font-size: var(--size-sm);
  max-height: 100%;
  overflow-y: auto;
  z-index: var(--z-comments-sidemenu);
}

.sidebarTop {
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-5);
  justify-content: space-between;
  font-weight: 500;
}

.sidebarThreadsResolved {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.sidebarClose {
  padding: var(--space-5) var(--space-3);
  background: none;
  color: inherit;
}

.sidebarThreadList {
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-5) var(--space-5);
  gap: var(--space-5);
}

.sidebarThread {
  background: var(--color-surface-elevated);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
}

.sidebarThread[data-thread-resolved] {
  opacity: 0.65;
}

/*.sidebarThread[data-thread-resolved]:hover {*/
/*  opacity: 0.8;*/
/*}*/
