.Toolbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  box-shadow: var(--shadow);
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.ToolbarSeparator {
  height: 1rem;
  margin: 0 16px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.ToolbarAvatars {
  display: flex;
  gap: -4px;
}

.ToolbarAvatars img {
  border-radius: 9999px;
  border: 2px solid white;
  width: 2rem;
  height: 2rem;
}

.ToolbarActions {
  display: flex;
  gap: 4px;
}
